@model IList<Customer>
@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

お客様
<table>
    <thead>
    <tr>
        <th>お客様 名前</th>
        <th>お客様 名前(カタ)</th>
        <th>メール</th>
        <th>電話番号</th>
        <th>携帯番号</th>
        <th>生年月日</th>
        <th>住所</th>
        <th>...</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>お客様 名前</td>
            <td>お客様 名前(カタ)</td>
            <td>メール</td>
            <td>電話番号</td>
            <td>携帯番号</td>
            <td>生年月日</td>
            <td>住所</td>
            <td>...</td>
        </tr>
    </tbody>
</table>



