@page
@model LoginModel

@{
    ViewData["Title"] = "ログインする";
}



<h4>博士.comのアカウントを使用してログインします。</h4>
<hr />
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <section>
            <form method="post">
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="メールアドレス"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="パスワード"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>  
                <div class="form-group col-md-offset-1  col-md-10">
                    <button type="submit" class="btn btn-block">ログイン</button>
                </div>
                @*<div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">パスワードをお忘れですか？</a>
                    </p>
                </div>*@
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
