@page
@model RegisterCustomerModel

@{
    ViewData["Title"] = "登録";
}



<h4>新しい顧客アカウントを作成します。</h4>
<hr />
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>    
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Input.Email">メール</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">パスワード</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">パスワード確認</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Input.Customer.CompanyNameHira"></label>
                <input asp-for="Input.Customer.CompanyNameHira" class="form-control" />
                <span asp-validation-for="Input.Customer.CompanyNameHira" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Input.Customer.Phone"></label>
                <input asp-for="Input.Customer.Phone" class="form-control" />
                <span asp-validation-for="Input.Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Customer.Address"></label>
                <input asp-for="Input.Customer.Address" class="form-control" />
                <span asp-validation-for="Input.Customer.Address" class="text-danger"></span>
            </div>

        </div>
        
        
        <br />
        <hr />
        <div class="col-md-12">
            <button type="submit" class="btn btn-success text-center col-md-offset-6">登録</button>
        </div>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
