
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<br />
<div class="container dark-border">
    <input class="form-control" type="file" id="paintEditInput" />
</div>
<div id="paint" class="" style="margin-top: 15px;"></div>

