@model WebApplication1.ViewModels.UploadReformListViewModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    bool isAdmin = Context.User.IsInRole("Admin");
}

<div class="container">
    <form asp-controller="Paint" asp-action="Upload" enctype="multipart/form-data" class="form-group">
        <label class="control-label"> 壁または床の写真をアップロードします。</label>
        <input type="file" id="paintFileUpload" name="source" class="form-control" placeholder="this is a test"/>
    </form>
    <br />
</div>



